:root{
    --vermelho: #e50914;
    --preta: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*elementos base*/
body{
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin-right: 30px ;
    color: var(--vermelho);
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
}

header nav a{
    text-decoration: none;
    color: #fff; 
    margin-right: 10px;
    font-size: 18px;
}

header nav a:hover{
    color: #AAA;
    transition: 1000ms;
}

.naves{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-right nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Busca{
    border:solid 1px;
    border-radius:15px;
    width:300px;
    display: flex;
    align-items: center;
    margin-right: 10px;
  }

#txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
    width:260px;
    margin-left: 5px;
  }
  #txtBusca:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
    color: white;
}

/*Filme principal*/
.filme-principal{
    font-size: 20px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/img/wandavision-fundo.jpg');
    
    background-size: cover;
    height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
}

.filme-principal .descricao{
    margin-bottom: 30px;
    margin-left: 20px;
}

.filme-principal .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.filme-principal .img-titulo{
    height: 70%;
    width: 50%;
    transition: .5s ease;
}

.filme-principal .img-titulo:hover{
    height: 70%;
    width: 60%;
    
}

.botao{
    border: none;
    padding: 15px 30px;
    margin-right: 15px;
    margin-left: 20px;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 4px;
}

#botao-play{
    background-color: rgba(255,255,255,0.9);
    color: black;  
    
}

#botao-play:hover{
    background-color: rgba(255,255,255,0.75);
    color: black; 
}

#botao-info{
    background-color: rgba(0,0,0,.60);
    color: white;
}

#botao-info:hover{
    background-color: rgba(0,0,0,.40);
    color: white;
}

.botao i{
    margin-right: 8px;
}

.container{
    margin-left: 20px;
}
.filme-principal .container{
   width: 70%;
   border-radius: 4px;
}
.box-filme{
    height: 100%;
    width: 100%;
    display: block;
    border-radius: 8px;
}

.carrosel-filmes{
    margin: 10px 20px 0px;
}

.carrosel-filmes .genero{
    margin-bottom: 10px;
}


/*capas*/
.item{
    position: relative;
}

.capa{
    position: relative;
    transition: .5s ease;
   
}

.capa:hover{
    opacity: .7;
}
.contra-capa:hover{
    opacity: .9;
}

.contra-capa{
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    transition: .5s ease;
    opacity: 0;
    top: 100%;
    left: 100%;  
    transform: translate(-100%, -100%); 
}