@media screen and (max-width:700px){
    header .container{
      display: flex;
      flex-direction: column;
    }

    .filme-principal .img-titulo{
        height: 50%;
        width: 100%;
    }

    .botao{
        margin-top: 5px;
        width: 300px ;
    }

    .Busca{
        width: 200px;
    }
    #txtBusca{
        font-size:12px;
        height:32px;
        width:160px;
       
      }
    
}

@media screen and (min-width:1000px){
    .descricao{
        width: 50%;
    }

}